@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
  --primary-color: #ee113c;
  --secondary-color: #8993be;
  --primary-font: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {box-sizing: border-box}


body {
  color: #333;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  overflow-x: hidden;
  background: var(--secondary-color);
}

.bg-white {
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  font-family: var(--primary-font);
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
}

.header h1 {
  color: white;
  background: #ee113c;
  padding: 1.25rem 2rem;
}

.header .menu {
  padding: .75rem 2rem;
  background: #6442bd;
}

.header .menu .menu-nav {
  list-style: none;
  display: flex;
}
.header .menu .menu-nav-item {
  margin-right: 1.25rem;
}

.header .menu .menu-nav-link {
  text-decoration: none;
  color: white;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: bold;
  transition: all .5s ease-in-out;
}

.header .menu .menu-nav-link:hover {
  color: rgba(255, 255, 255, .8);
}

.main {
  display: grid;
  grid-template-columns: 10fr 2fr;
  background: white;
}
.main-content {
  padding: 2rem;
}

.main-content h1 {
  margin-bottom: 1rem;
}

.main-content p {
  margin-bottom: 1rem;
}

.contact {
  padding: 2rem;
}

.contact h1 {
  margin-bottom: 1rem;
}
.contact fieldset {
  border-color: #ee113c;
  padding: 1.5rem 1rem;
  width: 70%;
}

.contact legend {
  background: #ee113c;
  padding: .5rem;
  font-size: .9rem;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

.contact .form-field label {
  display: inline-block;
  font-size: 1rem;
  position: relative;
  margin-bottom: .25rem;
}

.contact .form-field label::after {
  position: absolute;
  top: 0;
  right: -.75rem;
  content: '*';
  color: #ee113c;
  font-size: 1.25rem;
}

.contact .form-field .input-field {
  margin-bottom: 1rem;
  width: 100%;
  padding: .4rem 1rem;
  outline: none;
  border: solid 1px var(--secondary-color);
  transition: all .5s ease-in-out;
}

.contact .form-field .input-field:focus {
  border-color: #ee113c;
  outline: none;
  box-shadow: none;
}

.contact .submit-field {
  display: flex;
  justify-content: flex-end;
}

.contact .submit-field .submit-btn {
  background: #ee113c;
  border: none;
  outline: none;
  padding: .5rem 1.25rem;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.sidebar {
  background: #ccc;
}
.sidebar .side-nav {
  padding: 2rem;
}
.sidebar .side-nav-item {
  margin-bottom: .25rem;
}

.sidebar .side-nav-link {
  text-decoration: none;
}

.footer {
  background: #ee113c;
}

.footer p {
  color: white;
  font-weight: bold;
  font-family: var(--primary-font);
  padding: .75rem 2rem;
}
